# Dependencies
node_modules/
.pnp
.pnp.js

# Build / output
.next/
out/
dist/
build/
*.tsbuildinfo

# Env and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/src/infra/generated/

# Testing
coverage/
.nyc_output/

# Misc
*.log
.cache/
